<%= form_for(@article) do |f| %>
<p><%= f.label :title %></p>
<%= f.text_field :title %>

<%= f.hidden_field :content, :value => :content %>
<%= f.submit %>
<% end %>

<p>Write your content here:</p><br>
<div id="editor"></div>
<script src="src/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/chrome");
  editor.setValue('<%= @article.content %>')
  editor.resize()


  editor.getSession().on('change', function(e) {
    document.getElementById("article_content").value = editor.getValue()
  });

</script>

